# SC1015 Mini-Project: What pre-exisiting conditions increases a patient's vulnerability to mortality from Covid-19?

### Essential Libraries

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation  
> Matplotlib : Low-level library for Data Visualization  
> Seaborn : Higher-level library for Data Visualization  
> Sklearn : Machine Learning and Statistical Modeling

In [1]:
#Import libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.tree import plot_tree
sb.set() # set the default Seaborn style for graphics
pd. set_option('display.max_columns', None)

## Exploratory Data Analysis

In [2]:
#Import Dataset
covid_data = pd.read_csv('Dataset/Covid Data.csv')
covid_data.head(100)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,1,1,1,9999-99-99,97,2,49,2,2,2,2,2,2,2,2,2,2,2,7,97
96,2,1,1,1,9999-99-99,97,2,24,2,2,2,2,2,2,2,2,2,2,2,7,97
97,2,1,2,1,9999-99-99,97,2,28,97,2,2,2,2,2,2,2,2,2,2,7,97
98,2,1,2,1,9999-99-99,97,2,27,97,2,2,2,2,2,2,2,2,2,1,7,97
99,2,1,1,1,9999-99-99,97,2,26,2,2,2,2,2,2,2,2,2,2,1,7,97

In [3]:
covid_data.shape

(1048575, 21)

Data have 717 Rows and 36 Columns

In [4]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [5]:
#remove duplicates 
covid_data = covid_data.drop_duplicates()
covid_data.info()
covid_data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 236526 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   USMER                 236526 non-null  int64
 1   MEDICAL_UNIT          236526 non-null  int64
 2   SEX                   236526 non-null  int64
 3   PATIENT_TYPE          236526 non-null  int64
 4   DATE_DIED             236526 non-null  object
 5   INTUBED               236526 non-null  int64
 6   PNEUMONIA             236526 non-null  int64
 7   AGE                   236526 non-null  int64
 8   PREGNANT              236526 non-null  int64
 9   DIABETES              236526 non-null  int64
 10  COPD                  236526 non-null  int64
 11  ASTHMA                236526 non-null  int64
 12  INMSUPR               236526 non-null  int64
 13  HIPERTENSION          236526 non-null  int64
 14  OTHER_DISEASE         236526 non-null  int64
 15  CARDIOVASCULAR        236526 non-null  int64
 16  OBESITY               236526 non-null  int64
 17  RENAL_CHRONIC         236526 non-null  int64
 18  TOBACCO               236526 non-null  int64
 19  CLASIFFICATION_FINAL  236526 non-null  int64
 20  ICU                   236526 non-null  int64
dtypes: int64(20), object(1)
memory usage: 39.7+ MB

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000,236526.000000
mean,1.512337,7.634230,1.547521,1.577712,44.238401,4.525765,52.620274,54.794826,2.840855,2.966976,2.949325,3.135630,2.691319,3.687645,2.980767,2.768863,2.954956,2.973352,4.781263,44.371008
std,0.499849,3.661318,0.497738,0.493925,47.394072,16.731469,19.318869,47.225449,10.500621,9.882551,9.839247,10.619391,10.098528,12.930442,10.026841,9.959472,9.888310,10.289529,1.897253,47.337447
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,4.000000,1.000000,1.000000,2.000000,1.000000,40.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,3.000000,2.000000
50%,2.000000,6.000000,2.000000,2.000000,2.000000,2.000000,54.000000,97.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000
75%,2.000000,12.000000,2.000000,2.000000,97.000000,2.000000,67.000000,97.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,7.000000,97.000000
max,2.000000,13.000000,2.000000,2.000000,99.000000,99.000000,121.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,7.000000,99.000000

In [6]:
#dropping missing rows from icu
covid_data = covid_data.drop(covid_data[(covid_data['ICU'] == 97) | (covid_data['ICU'] == 99)].index)
covid_data.head(50)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
2,2,1,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,3,2
5,2,1,1,2,9999-99-99,2,1,40,2,2,2,2,2,2,2,2,2,2,2,3,2
8,2,1,1,2,9999-99-99,2,2,37,2,1,2,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,9999-99-99,2,2,25,2,2,2,2,2,2,2,2,2,2,2,3,2
11,2,1,2,2,9999-99-99,2,2,24,97,2,2,2,2,2,2,2,2,2,2,3,2
12,2,1,2,2,9999-99-99,2,2,30,97,2,2,2,2,2,2,2,2,2,2,3,2
16,2,1,1,2,9999-99-99,2,1,80,2,2,2,2,2,1,2,2,2,2,2,3,1
20,2,1,2,2,9999-99-99,2,1,59,97,1,2,2,2,2,2,2,2,2,1,3,1
30,2,1,2,2,9999-99-99,2,1,45,97,2,2,2,2,2,2,2,2,2,2,3,2
41,2,1,2,2,9999-99-99,1,1,45,97,2,2,2,2,2,2,2,2,2,2,3,1
53,2,1,2,2,9999-99-99,2,2,16,97,2,2,2,2,2,2,2,2,2,2,7,2
55,2,1,2,2,9999-99-99,2,2,56,97,2,2,2,2,2,2,2,2,2,2,7,2
56,2,1,1,2,9999-99-99,1,1,58,2,2,2,2,2,1,2,1,1,2,2,7,1
57,2,1,1,2,9999-99-99,1,1,48,2,1,2,2,2,2,2,2,2,2,2,7,1
58,2,1,2,2,9999-99-99,2,1,36,97,2,2,2,2,2,2,2,2,2,1,7,1
60,2,1,1,2,9999-99-99,2,2,25,2,2,2,2,2,2,2,2,2,2,2,7,2
61,2,1,1,2,9999-99-99,2,2,24,2,2,2,2,2,2,2,2,2,2,2,7,2
64,2,1,1,2,9999-99-99,2,2,30,2,2,2,2,2,2,1,2,2,2,2,7,2
65,2,1,2,2,9999-99-99,2,2,30,97,1,2,2,2,2,2,2,1,2,1,7,2
66,2,1,2,2,9999-99-99,1,1,27,97,2,2,2,2,2,2,2,2,2,1,7,1
84,2,1,2,2,9999-99-99,2,2,90,97,2,2,2,2,2,2,2,2,2,2,7,2
102,2,1,2,2,9999-99-99,1,1,30,97,2,2,2,2,2,2,2,2,2,1,7,1
103,2,1,2,2,9999-99-99,2,1,46,97,2,2,2,2,2,2,2,2,2,1,7,1
152,1,2,2,2,05/04/2020,1,1,14,97,2,2,2,2,2,2,2,2,2,2,7,2
153,1,2,1,2,08/05/2020,1,2,0,2,2,2,2,2,2,2,2,2,2,2,7,2
154,1,2,2,2,20/05/2020,1,1,17,97,2,2,2,2,2,2,2,2,2,2,7,2
161,1,2,2,2,9999-99-99,2,2,2,97,2,2,2,2,2,2,2,2,2,2,3,2
162,1,2,1,2,9999-99-99,2,1,10,2,2,2,2,2,2,1,1,2,2,2,3,2
163,1,2,2,2,9999-99-99,2,2,1,97,2,2,2,2,2,2,2,2,2,2,3,2
164,1,2,1,2,9999-99-99,2,2,12,2,2,2,2,1,2,2,2,2,2,2,3,2
166,1,2,2,2,9999-99-99,2,1,14,97,2,2,2,2,2,2,2,2,2,2,3,2
188,1,2,1,2,9999-99-99,2,2,1,2,2,2,2,2,2,2,2,2,2,2,7,2
190,1,2,2,2,9999-99-99,2,2,1,97,2,2,2,1,2,1,1,2,2,2,7,2
195,1,2,2,2,9999-99-99,2,1,7,97,2,2,2,2,2,2,2,2,2,2,7,1
196,1,2,2,2,9999-99-99,2,1,1,97,2,2,2,2,2,2,2,2,2,2,7,2
197,1,2,2,2,9999-99-99,2,1,2,97,2,2,2,2,2,2,2,2,2,2,7,2
200,1,2,1,2,9999-99-99,2,2,4,2,2,2,2,2,2,2,2,2,2,2,7,2
204,1,2,1,2,9999-99-99,2,1,0,2,2,2,2,2,2,2,2,2,2,2,7,2
206,1,2,1,2,9999-99-99,2,2,12,2,2,2,2,2,2,2,2,2,2,2,7,2
207,1,2,2,2,9999-99-99,2,2,8,97,2,2,2,2,2,2,2,2,2,2,7,2
208,1,2,2,2,9999-99-99,2,2,1,97,2,2,2,2,2,2,2,2,2,2,7,2
209,1,2,2,2,9999-99-99,2,2,0,97,2,2,2,2,2,2,2,2,2,2,7,2
210,1,2,2,2,9999-99-99,1,1,17,97,2,2,1,2,2,2,2,1,2,2,7,1
297,1,2,1,2,9999-99-99,2,1,1,2,2,2,2,2,2,2,2,2,2,2,7,2
298,1,2,2,2,9999-99-99,2,1,0,97,2,2,2,2,2,2,2,2,2,2,7,2
299,1,2,1,2,9999-99-99,2,2,6,2,2,2,2,1,2,2,2,2,2,2,7,2
300,1,2,2,2,9999-99-99,2,1,16,97,2,2,2,2,2,2,2,2,2,2,7,2
304,1,2,1,2,9999-99-99,2,1,8,2,2,2,2,2,2,2,2,2,2,2,7,2
305,1,2,2,2,9999-99-99,2,2,16,97,2,2,2,1,2,2,2,2,2,2,7,2
307,1,2,2,2,9999-99-99,2,1,1,97,2,2,2,2,2,2,1,2,2,2,7,2